



.main {
    height: fit-content;
    display: flex;
    justify-content: center;
}


.max_content_width {
    width: 80vw;

    display: flex;
    flex-direction: column;

    gap: 10rem;
}

.introduction {
    height: 35rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.introduction > h1 {
    text-decoration: underline;
}

.introduction > iframe {
    box-shadow: 10px 10px 0px 2px black;
    border: 2px solid white;

    transition: 0.2s;
}

.introduction > iframe:hover {
    box-shadow: 15px 15px 0px 2px black;
}









