
.overview_section {
    height: 40rem;
    padding: 0rem 3rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.people_walking {
    width: 50%;
    border-radius: 12px;

    margin-left: 0.5rem;

    float: right;
}

.overview_text {
    width: 50rem;
    height: 25rem;

    color: #023047;

    border: 2px solid black;
    padding: 1rem;

    box-shadow: 5px 5px 0px 2px black;
    transition: 0.2s;
}

.overview_text:hover {
    box-shadow: 8px 8px 0px 2px black;
}

.overview_text > h2 {
    font-size: 2rem;
    text-decoration: underline;
}

.overview_text > p {
    line-height: 2rem;
    font-size: 1.2rem;
}